<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">Family Events</h1>
        <p class="lead">Welcome to Family Website. To check API please go through below FamilyEventAPI link.</p>
    </section>
    <div class="row">
        @Html.ActionLink("FamilyEventAPI", "Index", "Help", new { area = "" }, new { @class = "navbar-brand" })
    </div>
</main>